@use "./mixins" as *;
@use "./variables" as *;
@use "./typography" as *;

//  RESETS
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: $primary-color;
}

html {
  font-size: 62.5%;
  background-color: $background-color;
  color: $primary-color;
}

body {
  font-size: 1.6rem;
  margin: 0;
}
