$big-mobile-breakpoint: 500px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-wrapper-width: 102rem;

$mobile-margin: 0 1.6rem;
$tablet-margin: 0 3.2rem;
$desktop-margin: auto;

$primary-color: #f4f4f5;

$background-color: #191414;

$box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
