@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.contact {
  &-wrapper {
    width: 100%;
    height: 100%;
    @include flex(left, flex-start, column);
    padding: $mobile-margin;
    @include tablet {
      padding: $tablet-margin;
    }
    @include desktop {
      padding: $desktop-margin;
      max-width: 102rem;
    }
  }
}
