@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.navbar {
  &-wrapper {
    width: 100%;
    @include flex(left, center, column);
  }

  &__link-list {
    list-style: none;
    padding: 2rem 0;
    @include flex(left, center, column);

    @include big-mobile {
      @include flex(left, flex-start, row);
    }

    @include tablet {
      @include flex(left, center, row);
    }
  }

  &__link {
    text-align: center;
    width: fit-content;
    margin: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 100;
    background: radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.1)
    );
    border-radius: 0.3rem;
    color: $primary-color;
    &:hover {
      color: $primary-color;
    }
  }
}
