@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.homepage {
  &-wrapper {
    width: 100%;
    @include flex(left, flex-start, column);
  }

  &__text {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  &__intro {
    @include flex(center, center, row);
  }

  &__cta {
  }

  &__link {
    cursor: pointer;
    text-decoration: none;
  }
}
